<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/tshirt</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TShirt.InventoryApp.Api-20170504063234.mdf;Initial Catalog=aspnet-TShirt.InventoryApp.Api-20170504063234;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-TShirt.InventoryApp.Api-20170504063234.mdf;Initial Catalog=aspnet-TShirt.InventoryApp.Api-20170504063234;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TSGVL" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.1.92.203;Initial Catalog=TSTST;User ID=applegreen;Password=galapago" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TSGVL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.1.92.203;Initial Catalog=TSTST;User ID=applegreen;Password=galapago" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TSGVLEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.1.92.203;Initial Catalog=TSTST;User ID=applegreen;Password=galapago;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TSGVLEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModelTShirt.csdl|res://*/ModelTShirt.ssdl|res://*/ModelTShirt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.92.203;initial catalog=TSTST;user id=applegreen;password=galapago;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TShirt.InventoryApp.Api.TSGVLEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TShirt.InventoryApp.Api.TSGVLEntities, TShirt.InventoryApp.Api" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TShirt.InventoryApp.Api.Models.ApplicationDbContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TShirt.InventoryApp.Api.Models.ApplicationDbContext, TShirt.InventoryApp.Api" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TShirt.InventoryApp.Api.Helpers.DatabaseHelper" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TShirt.InventoryApp.Api.Helpers.DatabaseHelper, TShirt.InventoryApp.Api" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TSGVL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TSGVLEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TShirt.InventoryApp.Api.Helpers.DatabaseHelper-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TShirt.InventoryApp.Api.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TShirt.InventoryApp.Api.TSGVLEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TShirt.InventoryApp.Api.Helpers.DatabaseHelper" />
    <_ConnectionStringsToInsert Include="TShirt.InventoryApp.Api.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="TShirt.InventoryApp.Api.TSGVLEntities" />
  </ItemGroup>
</Project>